body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

#banner {
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 100%;
}

#banner .content h1 {
    border: 3px solid white;
    border-radius: 10px;
    position: relative;
    top: 50px;
    width: 900px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 50px;
    opacity: 100% ;
}