#choropleth_map {
	top:30px;
	bottom: 30px; 
	left: 30px;
	right: 30px;
	/*height: 500px;
	width: 500px;*/
}

#temp_change_line_chart {
	top:100px;
	left: 100px;
    width: 100vw;
	/*height: 1000px;
	width: 800px;*/
}


.pure-u-1-3 {
    margin-top: 30px;
    height:100vw;
}

.pure-u-2 {
    margin-top: 10px;
    height:100vw;
}

#text_div{
    margin-top: 130px;
}